.container,
.container-flexible {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    @include bp(sm) {
        max-width: 540px;
    }

    @include bp(md) {
        max-width: 720px;
    }

    @include bp(lg) {
        max-width: 960px;
    }

    @include bp(xl) {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}